.menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.head{
    display: flex;
}

.margin-side{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.margin-left{
    margin-left: 40px;
}

.image{
    margin-top: 30px;
}

.margin-l{
    margin-left: 10px;
}