* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid 1px;  */
}

body {
    overflow: hidden;
    background-color: #282a35;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.3;
}

main {
    overflow-y: auto;
    top: 20vh;
    left: 0;
    position: absolute;
    height: 80vh;
    width: 100%;
}

section {
    position: relative;
    margin: 30px 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.content-section {
    display: inline-block
}

.image {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin: 30px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background-color: #282a35;
    z-index: 100;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.8 );
}

header h1 {
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: white;
    top: 0;
    left: 0;
    position: absolute;
    padding: 2px 30px;
}

.logo {
    /* height: 13vh;
    width: 13vh; */
    width: 125px;
    height: 125px;
    position: absolute;
    top: 30%;
    left: 40px;
    object-fit: fill;
    border-radius: 10%;
    border: 1px solid #008b8b;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    z-index: 150;
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.banner {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 50px;
    object-fit: cover;
    border-top: 4px solid #F5F5F5;
}

.margin-l {
    margin-left: 10px;
}

/* NAV and botton */

nav a:link,
nav a:visited {
    text-decoration: none;
}

header nav {
    top: 4px;
    /* top: 5px; */
    /* right: 5vw; */
    right: 0;
    position: absolute;
    display: flex;
}

.button-active{
    background-image: linear-gradient(#0c0d0d 0, #541a0f 100%) !important;
    outline: 4px solid #008b8b;
}


.button-nav:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 80px;
}

.button-nav:active {
    transform: translateY(1px);
}

.button-nav:before,
.button-nav:after {
  border-radius: 80px;
}

.button-nav:before {
  background-image: linear-gradient(92.83deg, yellow 0, yellow 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-nav:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-nav {
    /* background-image: linear-gradient(#541a0f 0, #0c0d0d 100%); */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8); */
    /* border: 2px solid #F5F5F5; */
    /* border-radius: 80px; */
    padding: 14px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    /* margin: 0 4px; */
    color: white;
    font-weight: bold;
}

/* ********************************************* */

.card {
    margin: 30px 0;
    width: 60vmax;
    height: 250px;
    ;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #008b8b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
}

.card-rules{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1rem;
    max-width: 50vmax;
    min-height: 70vh;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #008b8b;
    color: white;
    padding: 20px 40px;
    margin: 30px 0;
}

.title {
    margin: 10px 0;
    text-align: center;

}